name: CI

on:
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  test-vars:
    runs-on: ubuntu-latest
    steps:
      - name: Show repository context
        run: |
          echo "Repo: $GITHUB_REPOSITORY"
          echo "Branch: $GITHUB_REF_NAME"

      - name: Test repo variable
        run: echo "MEINEVAR=${{ vars.MEINEVAR }}"
      - name: Test repo secret (will be masked)
        run: echo "MEINSECRET=${{ secrets.MEINSECRET }}"
